
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 

NODE_ENV=development

DATABASE=mongodb://USERNME:PASSWORD@ds12345.mlab.com:37634/dbname

UI_URL=https://thefrontendurl.com

MAIL_USER=123
MAIL_PASS=123
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525

PORT=7778

# Put lots of randomness in these
SECRET=topseceret
KEY=nicekey